page-login {
 margin:0 auto 0 auto;
 .button-clear-md-primary {
    margin:0 10% 0 15%;
    padding: 0 0 0 0;
 }
 .button-md-primary{
    margin: 10px auto 20px 33%;
    width:auto;
 }
 .input-cover{
    margin:20px 0;
 }
}
